.titleLandpage {
    text-align: center;
    color: white;
}

.scaleIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to top,
        #1e4164,
        #1b4e7e,
        #185b9a,
        #1669b5,
        #1976d2
    );
    border-radius: 20px;
    padding: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 10px;
}

span.iconScale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 2px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.entrance > * {
    animation: fadeIn 1.5s;
}
