:root {
    font-family: 'Khand', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-image: linear-gradient(
        to right top,
        #1976d2,
        #487dca,
        #6284c2,
        #768bb9,
        #8692b1,
        #8692b1,
        #8692b1,
        #8692b1,
        #768bb9,
        #6284c2,
        #487dca,
        #1976d2
    );
    background-size: cover;
    margin: 0 0;
    text-align: center;
    min-height: 100vh;/*to fix display bug whith gutter*/

}

a {
    font-weight: 500;
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
}

h1 {
    font-family: 'Khand', sans-serif;
    font-size: 3.5rem;
    line-height: .5;
    font-weight: 600;
    color: white;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.errorText {
    color: #d33030;
}

p {
    font-size: 1.1em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: .7;
    }
}